<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <h1>Travel Planner</h1>
        <button class="header__btn" id="addBtn">Add trip</button>
        <!-- The Modal -->
        <div id="addModal" class="addModal">

          <!-- Modal content -->
          <div class="addContent">
            <div class="modal-header">
              <span id="closeBtn">&times;</span>
              <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
              <form onsubmit="return Client.handleSubmit(event)">
                <label for="loc">Location</label>
                <input type="text" name="loc" id="loc">
                <label for="checkin">Check in</label>
                <input type="date" name="checkin" id="checkin">
                <label for="checkout">Check out</label>
                <input type="date" name="checkout" id="checkout">
                <button type="submit">Submit</button>
              </form>
              <p>Some text in the Modal Body</p>
              <p>Some other text...</p>
            </div>
            <div class="modal-footer">
              <h3>Modal Footer</h3>
            </div>
          </div>

        </div>
      </nav>
    </header>
    <section class="section popular">
      <h2>Popular Trips</h2>
      <div class="cards">

        <div class="card btn">
          <div class="card__img" style="background-image:
            url(
            https://images.unsplash.com/photo-1607187227188-7e1e96961eaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
            )"></div>
          <div class="card__desc">
            <h4 class="card__title">Zakopane, Poland</h4>
            <p class="card__p">See knight sleeping between the mountains</p>
          </div>
        </div>
        <!-- The Modal -->
        <div class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Zakopane, Poland</h2>
            </div>
            <div class="modal-body">
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <div class="card__img" style="background-image:
                url(
                https://images.unsplash.com/photo-1607187227188-7e1e96961eaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
                ); height: 50rem;"></div>
            </div>
            <div class="modal-footer">
              <h3>See knight sleeping between the mountains</h3>
            </div>
          </div>
        </div>

        <div class="card btn">
          <div class="card__img" style="background-image:
            url(
            https://images.unsplash.com/photo-1607187227188-7e1e96961eaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
            )"></div>
          <div class="card__desc">
            <h4 class="card__title">Zakopane, Poland</h4>
            <p class="card__p">See knight sleeping between the mountains</p>
          </div>
        </div>
        <!-- The Modal -->
        <div class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Zakopane, Poland</h2>
            </div>
            <div class="modal-body">
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <div class="card__img" style="background-image:
                url(
                https://images.unsplash.com/photo-1607187227188-7e1e96961eaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
                ); height: 50rem;"></div>
            </div>
            <div class="modal-footer">
              <h3>See knight sleeping between the mountains</h3>
            </div>
          </div>
        </div>
        <div class="card btn">
          <div class="card__img" style="background-image:
            url(
            https://images.unsplash.com/photo-1607187227188-7e1e96961eaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
            )"></div>
          <div class="card__desc">
            <h4 class="card__title">Zakopane, Poland</h4>
            <p class="card__p">See knight sleeping between the mountains</p>
          </div>
        </div>
        <!-- The Modal -->
        <div class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Zakopane, Poland</h2>
            </div>
            <div class="modal-body">
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <div class="card__img" style="background-image:
                url(
                https://images.unsplash.com/photo-1607187227188-7e1e96961eaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
                ); height: 50rem;"></div>
            </div>
            <div class="modal-footer">
              <h3>See knight sleeping between the mountains</h3>
            </div>
          </div>
        </div>
        <div class="card btn">
          <div class="card__img" style="background-image:
            url(
            https://images.unsplash.com/photo-1607187227188-7e1e96961eaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
            )"></div>
          <div class="card__desc">
            <h4 class="card__title">Zakopane, Poland</h4>
            <p class="card__p">See knight sleeping between the mountains</p>
          </div>
        </div>
        <!-- The Modal -->
        <div class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Zakopane, Poland</h2>
            </div>
            <div class="modal-body">
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <p>Nonumy erat diam lorem ut accusam tempor. Amet accusam et
                gubergren vero. Stet labore erat sea et. Tempor sit erat.</p>
              <div class="card__img" style="background-image:
                url(
                https://images.unsplash.com/photo-1607187227188-7e1e96961eaf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
                ); height: 50rem;"></div>
            </div>
            <div class="modal-footer">
              <h3>See knight sleeping between the mountains</h3>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="section yourTrip">
      <h2>Your Trips</h2>
      <div class="cards" id="cards">
      </div>
    </section>
    <footer class="footer">
      <p>Made by Pawel Rugala</p>
      <p>GitHub</p>
      <p>LinkedIn</p>
      <p>Facebook</p>
    </footer>
  </body>
</html>