@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Leckerli+One&family=Poppins&display=swap');

// Fonts family
$font-title: 'Leckerli One', cursive;
$font-headings: 'Architects Daughter', cursive;
$font-others: 'Poppins', sans-serif;

// Fonts Sizes
$xl: 6.4rem;
$lg: 4.8rem;
$md: 2.8rem;
$sm: 1.8rem;
$xs: 1.6rem;

@import './colors.scss';

h1 {
  font-family: $font-title;
  color: $white;
  font-size: $md;
}

h2,
h3 {
  font-family: $font-headings;
}

p,
input,
label,
a,
button {
  font-family: $font-others;
}
